<a href="https://colab.research.google.com/github/mtavakoliangit/ena/blob/main/ena_1device_garage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
from datetime import datetime, date

In [3]:
#load data from gdrive
df_1dev_garage = pd.read_csv('gdrive/My Drive/ENA_db/garage_onedevice.csv')

In [4]:
df_1dev_garage.head()

                        _id  ...       st_version
0  5faf735c9cf7b6988ae0e760  ...  ["000.000.032"]
1  5faf8079a183f18be8354312  ...  ["000.000.032"]
2  5fb0d21da183f18be836844e  ...  ["000.000.032"]
3  5fb22353a183f18be837d3db  ...  ["000.000.032"]
4  5fb374f244ad208acea906b4  ...  ["000.000.032"]

[5 rows x 12 columns]

In [5]:
df_1dev_garage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      367 non-null    object
 1   day                      367 non-null    object
 2   device_id                367 non-null    object
 3   esp_version              367 non-null    object
 4   first                    367 non-null    object
 5   last                     367 non-null    object
 6   nsamples                 367 non-null    int64
 7   reading_heat_time_q_max  367 non-null    int64
 8   reading_heat_time_q_min  367 non-null    int64
 9   reading_temperature_U6   367 non-null    float64
 10  samples                  367 non-null    object
 11  st_version               367 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 34.5+ KB

In [6]:
df_1dev_garage['device_id'].unique()

array(['09963013926712196740163043482'], dtype=object)

In [7]:
#filter data for a specific device
df_device = df_1dev_garage[df_1dev_garage['device_id'] == '09963013926712196740163043482']

In [8]:
df_device.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      367 non-null    object
 1   day                      367 non-null    object
 2   device_id                367 non-null    object
 3   esp_version              367 non-null    object
 4   first                    367 non-null    object
 5   last                     367 non-null    object
 6   nsamples                 367 non-null    int64
 7   reading_heat_time_q_max  367 non-null    int64
 8   reading_heat_time_q_min  367 non-null    int64
 9   reading_temperature_U6   367 non-null    float64
 10  samples                  367 non-null    object
 11  st_version               367 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 37.3+ KB

In [9]:
df_device.describe()

          nsamples  ...  reading_temperature_U6
count   367.000000  ...              367.000000
mean   1183.136240  ...                9.787466
std     509.011802  ...                5.652124
min       1.000000  ...               -1.500000
25%    1331.500000  ...                6.000000
50%    1431.000000  ...                7.500000
75%    1448.000000  ...               11.000000
max    1511.000000  ...               26.500000

[8 rows x 4 columns]

In [10]:
df_device.head()

                        _id  ...       st_version
0  5faf735c9cf7b6988ae0e760  ...  ["000.000.032"]
1  5faf8079a183f18be8354312  ...  ["000.000.032"]
2  5fb0d21da183f18be836844e  ...  ["000.000.032"]
3  5fb22353a183f18be837d3db  ...  ["000.000.032"]
4  5fb374f244ad208acea906b4  ...  ["000.000.032"]

[5 rows x 12 columns]

In [11]:
df_device = df_device[['day', 'nsamples', 'samples']]

In [12]:
df_device.head()

          day  nsamples                                            samples
0  2020-11-13        43  [{"time_stamp":"23:04:24","setpoint_temperatur...
1  2020-11-14      1331  [{"time_stamp":"00:00:08","setpoint_temperatur...
2  2020-11-15      1335  [{"time_stamp":"00:00:44","setpoint_temperatur...
3  2020-11-16      1332  [{"time_stamp":"00:00:44","setpoint_temperatur...
4  2020-11-17      1332  [{"time_stamp":"00:00:00","setpoint_temperatur...

In [13]:
df_device['day']= pd.to_datetime(df_device['day'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
data_comp = pd.DataFrame(columns=['DateTime', 'setpoint_temp', 'setpoint_fan', 'reading_temp'])

In [15]:
for i in range(0, df_device.shape[0]):
  print(i)
  data_string = df_device['samples'][i].split()
  data_Series_format = pd.Series(data_string)
  data = data_Series_format.str.split(r'"time_stamp":"|","setpoint_temperature":|,"setpoint_fan":|,"reading_temperature_U6":|},{|}]', expand=True)
  counter = 1
  while counter <= data.shape[1] - 1:
    data[counter] = pd.to_datetime(data[counter],format= '%H:%M:%S' ).dt.time
    data[counter+1] = float(data[counter+1])
    data[counter+2] = float(data[counter+2])
    data[counter+3] = float(data[counter+3])
    counter = counter + 5
  j = 1
  n = 1
  while n < df_device['nsamples'][i]:
    dt = df_device['day'][i].replace(hour=data[j][0].hour, minute=data[j][0].minute, second=data[j][0].second)
    settemp = data[j+1][0]
    setfan = data[j+2][0]
    temp = data[j+3][0]
    data_comp = data_comp.append({'DateTime': dt, 'setpoint_temp': settemp, 'setpoint_fan': setfan, 'reading_temp': temp}, ignore_index=True)
    n = n + 1
    j = j + 5

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366

In [17]:
data_comp.to_csv(r'gdrive/My Drive/ENA_db/garage_onedevice_formatted.csv')